extends __ROOT_JADE__

block head
  title= config.SITE_NAME
  meta(name="viewport", content="width=device-width, initial-scale=1")
  
block content
  nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
    .navbar-container
      .navbar-header
        button.navbar-toggle(type='button', ng-click="showMenu = !showMenu")
          span.sr-only Toggle navigation
          i.fa.fa-reorder
        a.navbar-brand(href='#') 
          img(src=require('./images/governorhub-logo.png'), width="224", height="60")
      #nav-collapse.collapse.navbar-collapse(uib-collapse="!showMenu")
        ul.nav.navbar-nav.navbar-right
          li(du-scrollspy="home")
            a(title='Home page', href='#home', du-smooth-scroll) Home
          li(du-scrollspy="governing-boards")
            a(title='Governing Boards', href='#governing-boards', du-smooth-scroll) Governing Boards
          li(du-scrollspy="mats")
            a(title='Multi-Academy Trusts', href='#mats', du-smooth-scroll)  MATs
          li(du-scrollspy="gs")
            a(title='Governor Support Services', href='#gs', du-smooth-scroll) Governor Services
          li(du-scrollspy="pricing")
            a(title='See our pricing', href='#pricing', du-smooth-scroll) Pricing
          li
            a.pull-right(href="#{config.AUTH_ENDPOINT}/auth?response_type=token&client_id=#{encodeURIComponent(config.CLIENT_ID)}&redirect_uri=#{encodeURIComponent(config.AUTH_REDIRECT_URI)}") Sign in
          li
            a.pull-right(href='error') Free Trial
  
  .home-page
    .page-headline
      h3 The modern way to run your school Governing Board or Multi-Academy Trust Boards.
      .user-actions
        a.btn.btn-default.btn-lg(href="#{config.AUTH_ENDPOINT}/auth?response_type=token&client_id=#{encodeURIComponent(config.CLIENT_ID)}&redirect_uri=#{encodeURIComponent(config.AUTH_REDIRECT_URI)}") Sign in
        button.btn.btn-default.btn-free-trial.btn-lg Try for free!
    .laptop-footer
      screen-video(src="https://www.youtube-nocookie.com/embed/B6J7pY3snfs?rel=0&amp;showinfo=0", orig-width="224", orig-height="131", screen-x="25", screen-y="9", screen-width="172", screen-height="104")
  #home.home-placeholder
  
  .page-wrapper
    #governing-boards
      .page.color-2
        .inner-page
          .row.align-bottom
            h4.page-headline Being a great School Governor is hard work!
            .page-subheader #{config.SITE_NAME} handles the mundane tasks for you, allowing the Governing Board to focus on what matters most
          .row.align-top
              .feature-list
                .col-sm-6.feature-block
                  .icon
                    img(src=require('./images/rafif-icons/airplane.svg'))
                  .content
                    .headline Noticeboard
                    .summary Forget about keeping track of everyone's email addresses. Post an item on the Noticeboard and #{config.SITE_NAME} will email the relevant committees for you.
                .col-sm-6.feature-block
                  .icon
                    img(src=require('./images/rafif-icons/calendar2.svg'))
                  .content
                    .headline Meeting calendar
                    .summary No more having to manually update your calendar every time a meeting is rescheduled. #{config.SITE_NAME} has a single calendar that you can sync to your various devices. 
                .col-sm-6.feature-block
                  .icon
                    img(src=require('./images/rafif-icons/documents.svg'))
                  .content
                    .headline Store documents
                    .summary Struggle to find the latest version of a document, or can't remember where you saved those model policies? With #{config.SITE_NAME} all your documents are kept in one place and easily searchable.
                .col-sm-6.feature-block
                  .icon
                    img(src=require('./images/rafif-icons/pen.svg'))
                  .content
                    .headline Clerking tools
                    .summary For clerks, #{config.SITE_NAME} has a whole host of tools that make managing the Governing Board a breeze. From keeping track of the constitution, committees and roles, to automatically notifying you local Governor Support Services of any membership changes.
                .col-sm-6.feature-block
                  .icon
                    img(src=require('./images/rafif-icons/news.svg'))
                  .content
                    .headline Governor News
                    .summary Keep up to date with local and national education news.
                .col-sm-6.feature-block
                  .icon
                    img(src=require('./images/rafif-icons/phone2.svg'))
                  .content
                    .headline Mobile and tablet apps
                    .summary We have apps for smartphones and tablets - allowing you to access GovernorHub and your documents on the move, or even offline.
                .col-sm-6.feature-block
                  .icon
                    img(src=require('./images/rafif-icons/shield.svg'))
                  .content
                    .headline Security as standard
                    .summary We understand how important security is. All your data and documents are encrypted at rest, all internet traffic is over TLS and we stick to industry best practice with things like password storage.
        .fourscreens-footer
    
    #mats
      .page.color-3
        .inner-page
          .row.align-bottom
            h4.page-headline Multi-Academy Trusts
            .page-subheader #{config.SITE_NAME} makes handling and sharing information across your Governing Boards a doddle!
            
          .row.align-center
            .col-sm-6
              .feature-list
                .feature-block
                  .icon
                    img(src=require('./images/rafif-icons/female.svg'))
                  .content
                    .headline Governing Board Areas
                    .summary Each of your Local Governing Boards, plus your Trust Board get an area on #{config.SITE_NAME} (see the&nbsp;
                      a(href="#governing-boards", du-smooth-scroll) features above
                      | ). Members of the Local Governing Boards can only see their papers and details but members of the Trust Board can see the papers and details for academies in the Trust.
                .feature-block
                  .icon
                    img(src=require('./images/rafif-icons/cloud.svg'))
                  .content
                    .headline Shared news, calendar and resources
                    .summary Store resources that all of your Local Governing Board can access, send them news and information and see every meeting across the trust on a shared calendar.
                    
                .feature-block
                  .icon
                    img(src=require('./images/rafif-icons/buildings.svg'))
                  .content
                    .headline Large MATs
                    .summary For larger MATs and academy chains we provide database access. Manage the list of governors, members and trustees across the whole MAT or chain. See our&nbsp;
                      a(href="#gs", du-smooth-scroll) Governor Service
                      | &nbsp;functionality below.
            .col-sm-6
              img.screenshot(src=require('./images/screenshots/trust-board-screenshot.png'))
    
    #gs
      .page.color-4
        .inner-page
          .row.align-bottom
            h4.page-headline Governor Services
            .page-subheader No more boring admin - #{config.SITE_NAME} is a product designed specifically to do it for you!
            
          .row.align-center
            .col-sm-6
              .feature-block
                .icon
                  img(src=require('./images/rafif-icons/female.svg'))
                .content
                  .headline Governing Board Areas
                  .summary Your Governing Boards get all the class-leading #{config.SITE_NAME} functionality (
                    a(href="#governing-boards", du-smooth-scroll) see above
                    | ).
              .feature-block
                .icon
                  img(src=require('./images/rafif-icons/news.svg'))
                .content
                  .headline News
                  .summary Share service-wide news and announcements on your own news page and it appears in Governors' customized news feeds too. For more important announcements simply tick a box and have the article emailed as well.
            .col-sm-6
              img.screenshot.padded(src=require('./images/screenshots/gs-newsfeed.png'))
                
          .row.align-center
            .col-sm-6
              img.screenshot.padded(src=require('./images/screenshots/gs-training.png'))
            .col-sm-6
              .feature-block
                .icon
                  img(src=require('./images/rafif-icons/comments.svg'))
                .content
                  .headline FAQs
                  .summary Shift routine questions from your phone line or email inbox over to #{config.SITE_NAME} freeing up you and your team to concentrate on more important matters.
              .feature-block
                .icon
                  img(src=require('./images/rafif-icons/table.svg'))
                .content
                  .headline Training
                  .summary Put all of your training courses onto #{config.SITE_NAME} and Governors can book on with a single click. Manage trainers and attendance lists, all from within #{config.SITE_NAME}.
          .row.align-center
            .col-sm-6
              .feature-block
                .icon
                  img(src=require('./images/rafif-icons/documents.svg'))
                .content
                  .headline Resources
                  .summary Easily upload resources like model policies, guidance and advice for all your Governors to access. Only those Governors who subscribe to your service will be able to see them, making your service more attractive.
              .feature-block
                .icon
                  img(src=require('./images/rafif-icons/list.svg'))
                .content
                  .headline Clerking Service
                  .summary Manage your clerking service with #{config.SITE_NAME}. Assign and remove clerks from Governing Boards and appoint temporary replacements. Because the Governing Board is using #{config.SITE_NAME} all the documents and previous conversations will be instantly available.
            .col-sm-6
              img.screenshot.padded(src=require('./images/screenshots/clerking-group.png'))
          .row.align-top
            .col-sm-6.col-md-4.feature-block
              .icon
                img(src=require('./images/rafif-icons/statistics.svg'))
              .content
                .headline Reporting and data download
                .summary Download reports for your service as a whole or just individual Governing Bodies. Things like contact details, address labels, vacancy reports. No more esoteric spreadsheets to maintain!
            .col-sm-6.col-md-4.feature-block
              .icon
                img(src=require('./images/rafif-icons/loop.svg'))
              .content
                .headline Database
                .summary Search for Governing Boards and Governors, see changes that have been made to them, download reports, see upcoming training courses... With the #{config.SITE_NAME} all your data is at your fingertips.
            .col-sm-6.col-md-4.feature-block
              .icon
                img(src=require('./images/rafif-icons/link.svg'))
              .content
                .headline Automatically kept in sync
                .summary As Governors or Clerks amend things like terms of office, contact details or the constitution in #{config.SITE_NAME} these changes are instantly reflected in your database. No more filling out of paper forms followed by manual data entry! Hello the future!    
    //- Free trial
    #trial.page.color-5.free-trial-section
      .page-headline 
        button.btn.btn-free-trial.btn-massive Sign up for a free trial
    //- About page
    #customers.page.color-5
      .inner-page
        h1.page-headline Customers
      .inner-page.row
        .col-md-3
          img.customer(src=require('./images/customers/norfolk.png'), alt='Norfolk County Council')
        .col-md-3
          img.customer(src=require('./images/customers/medway.png'), alt='Medway Council')
        .col-md-3
          img.customer(src=require('./images/customers/oxfordshire.png'), alt='Oxfordshire County Council')
        .col-md-3
          img.customer(src=require('./images/customers/northants.png'), alt='Northamptonsire County Council')
      .inner-page.row
        .col-md-3
          img.customer(src=require('./images/customers/luton.png'), alt='Luton Borough Council')
        .col-md-3
          img.customer(src=require('./images/customers/bedford.png'), alt='Bedford Borough Council')
        .col-md-3
          img.customer(src=require('./images/customers/mk.png'), alt='Milton Keynes Borough Council')
        .col-md-3
          img.customer(src=require('./images/customers/nottingham.png'), alt='Nottingham City Council')
      .inner-page.row
        .col-md-3
          img.small-customer(src=require('./images/customers/bristol.png'), alt='Bristol City Council')
        .col-md-3
          img.customer(src=require('./images/customers/enfield.png'), alt='Enfield Borough Council')
        .col-md-3
          img.customer(src=require('./images/customers/islington.png'), alt='Islington Council')
        .col-md-3
          img.customer(src=require('./images/customers/swindon.png'), alt='Swindon Borough Council')
      .inner-page.row
        .col-md-3
          img.customer(src=require('./images/customers/stockport.png'), alt='Stockport Borough Council')
        .col-md-3
          img.customer(src=require('./images/customers/westminster.png'), alt='Diocese of Westminster Multi-Academy Trust')
        .col-md-3
          img.customer(src=require('./images/customers/dneat.png'), alt='Diocese of Norwich Multi-Academy Trust')
        .col-md-3
          img.small-customer(src=require('./images/customers/s4s.png'), alt='Services 4 Schools')
    
    // /#contact
    // The footer, social media icons, and copyright
    footer.page.color-1
      .inner-page.row
        .col-md-6.social
          a(href='http://twitter.com/governorhub')
            i.fa.fa-twitter
          a(href='http://facebook.com/governorhub')
            i.fa.fa-facebook-square
        .col-md-6.text-right.copyright
          | &copy; 2016  
          a(href='http://ortootech.com', title='Ortoo Technologies') Ortoo Technologies
          |  | all rights reserved 
          a.scroll(href='#top', title='Got to top')
            | To top 
            i.fa.fa-caret-up
